h1{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    background: white;
    border: 8px dotted red;
    
}
ul{
    list-style-type: disc;
    background-color: indianred;
}
.Garsha{
    height: 300px;
    width: 450px;
    margin-left: 500px;
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 8px dotted red;
}
p{ 
    font-family: Verdana, cursive;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background: white;
    color: red;
    border: 8px dotted red;
} 

.BaleRea{
    background:black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 8px dotted red;
}
.BaleWales{
    background:black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 8px dotted red;
}
